################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter03/bin/Debug/netcoreapp3.1
*.suo
/Chapter03/obj
/Examples/bin/Debug
/Examples/obj/Debug
/Tests/bin/Debug/netcoreapp3.1
/Tests/obj
/.vs/CSharpWorkshop/v16/TestStore/0
/Chapter04/bin/Debug/netcoreapp3.1
/Chapter04/obj
