@model System.Collections.Generic.IEnumerable<ToDoListApp.Models.ActivityLog>

@if (Model.Count() > 0)
{
    <table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Property</th>
            <th scope="col">Old Value</th>
            <th scope="col">New Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var activity in Model)
            {
                <tr>
                    <th scope="row"></th>
                    <td>@activity.Timestamp</td>
                    <td>@activity.Property</td>
                    <td>@activity.OldValue</td>
                    <td>@activity.NewValue</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row alert alert-primary alert-dismissible fade show" role="alert">
    <p>Keep cool, there are no activities to this Task so far! 👌🏻</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}